{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">

    <link href="{% static "style.css" %}" rel="stylesheet">


    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

  </head>
  <body >
    <div class="container">
        <h1 style="text-align: center;">Alright. First, let me collect a few notes...</h1>

        <br/>
        <br/>

        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Item's Name:</td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <br/>
                <tr>
                    <td>Whose requesting this:</td>
                    <td><input type="text" name="author"/></td>
                </tr>
                <tr>
                    <td>Where can this item be found:</td>
                    <td><input type="text" name="store"/></td>
                </tr>
                <tr>
                    <td>Category of this item:</td>
                    <td><input type="text" name="category" /></td>
                </tr>
                <tr>
                    <td>Is this item a priority: <i>Please use this sparingly...</i></td>
                    <td><input type="checkbox" name="priority"/></td>
                </tr>
            </table>
            <p>Okay, I have all the details. If you're sure these are correct...</p> <br/>

            <input type="submit" value="Add!" />

        </form>


    </div>
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-select.js" %}"></script>
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script src="{% static "js/flatui-checkbox.js" %}"></script>
    <script src="{% static "js/flatui-radio.js" %}"></script>
    <script src="{% static "js/jquery.tagsinput.js" %}"></script>
    <script src="{% static "js/jquery.placeholder.js" %}"></script>
  </body>
</html>
