/*body {*/
    /*background-color: #00d9c0;*/
/*}*/

@-webkit-keyframes pulse {
            0% {
                background-color: #45CEEF;
            }
            25% {
                background-color: #FFF5A5;
            }
            50% {
                background-color: #FFD4DA;
            }
            75% {
                background-color: #99D2E4;
            }
            100% {
                background-color: #D8CAB4;
            }
        }

        body {
            background-color: #45CEEF;
            -webkit-animation: pulse 40s infinite alternate;
        }

input[type=submit] {
    width: 3em;  height: 2em;
}